.hidden-menu a{
    text-decoration: none;
}
.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 240px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.0) 0%, rgba(0,0,33,1) 100%);
    height: 100%;
    top: 0;
    right: -240px;
    transition: right .2s;
    z-index: 2;
}
.hidden-menu li{
    margin-left: 40px;
}
.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    color: #fff;
    background-color: #666;
    padding: 5px;
    position: fixed;
    top: 13px;
    right: 13px;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 25px;
    opacity: 0.5;
}
.btn-menu:hover{
    transition: ease-in-out 0.2s;
    opacity: 1;
}
.aaa{
    
    color: #D5D8DC;
    font-size: 15px;
}
.aaa:hover{
    color:#ffffff;
    font-size: 20px;
    transition: ease-in-out 0.2s;
}
.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    right: 200px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
}
/* скролбар */
::-webkit-scrollbar{
    width: 5px;
    background:#000000;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background-color:#ffffff;
   border-radius: 5px;
}
